<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:util="http://www.springframework.org/schema/util"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
                           http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
                           http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util.xsd">
    <context:property-placeholder location="classpath*:*.properties" ignore-unresolvable="true"/>
    <context:annotation-config/>
    <context:spring-configured/>
    <import resource="classpath:/WEB-INF/classes/applicationContext.xml"/>
    <util:properties id="functionalTestProperties" location="classpath:functional-test.properties"/>

    <bean id="openMRSDataSource" class="org.springframework.jdbc.datasource.DriverManagerDataSource">
        <property name="driverClassName" value="com.mysql.jdbc.Driver"/>
        <property name="url" value="${connection.string}"/>
        <property name="username" value="${openmrs.db.username}"/>
        <property name="password" value="${openmrs.db.password}"/>
    </bean>

    <bean id="dataSource" class="org.springframework.jdbc.datasource.DriverManagerDataSource">
        <property name="driverClassName" value="com.mysql.jdbc.Driver"/>
        <property name="url" value="${connection.string}"/>
        <property name="username" value="${openmrs.db.username}"/>
        <property name="password" value="${openmrs.db.password}"/>
    </bean>

    <bean id="httpClient" class="org.ektorp.spring.HttpClientFactoryBean"/>
    <bean id="aggregationStrategy" class="org.motechproject.ghana.national.domain.AggregationStrategyImpl"/>
    <bean id="aggregatedMessageHandlerImpl" class="org.motechproject.ghana.national.domain.AggregatedMessageHandlerImpl"/>
    <bean id="deliveryStrategy" class="org.motechproject.ghana.national.messagegateway.domain.NextMondayDispatcher"/>
    <bean id="identifierGenerator" class="org.motechproject.ghana.national.repository.IdentifierGenerator"/>
</beans>
